<!DOCTYPE html> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - Github Tools</title>
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script src="{{ url_for('static', filename="function.js")}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark side-bar">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Github Tools</span>
  </a>
  {% if not g.user %}
    <div class="authentication d-grid">
      <a href="{{ url_for('auth.login') }}" class="btn btn-primary col-12">Login</a>  
    </div>
  {% endif %}
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/create_repo/" class="nav-link {{'active' if g.active_side_item=='create_repo' else 'text-white'}}">
        Create Repo
      </a>
    </li>
    <li>
      <a href="#" class="nav-link {{'active' if g.active_side_item=='create_branch_prod' else 'text-white'}}">
        Create Branch `production`
      </a>
    </li>
    <li>
      <a href="#" class="nav-link {{'active' if g.active_side_item=='add_team' else 'text-white'}}">
        Add Teams
      </a>
    </li>
    <li>
      <a href="#" class="nav-link {{'active' if g.active_side_item=='add_branch_rule' else 'text-white'}}">
        Add Branch Protection Rules
      </a>
    </li>
    <li>
      <a href="#" class="nav-link {{'active' if g.active_side_item=='create_webhook' else 'text-white'}}">
        Create Webhooks
      </a>
    </li>
  </ul>
  {% if g.user %}
    <hr>
    <div class="dropdown d-flex">
      <div class="ml-auto">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle me-2"></i>
          <strong>{{ g.user['username'] }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <!--<li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>-->
          <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>
      </div>
    </div>
  {% endif %}
</div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    {% if message.startswith('[ERR]') %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
  {% block content %}{% endblock %}
</section>