@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  background: #eee;
  /* padding: 0.2rem; */
  height: 100%;
}

body {
  margin: 0 auto;
  background: white;
  display: flex;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: serif; */
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

/*----------- self -----------*/
.authentication {
  display: flex;
  justify-content: space-around;
}
.content {
  padding-left: 10px;
}
