{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Branch Rules{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if session.user_permission != 'member' %}
    <h4>Apply branch protection rules</h4>
    <div class="choose-branch">    
      <h6 class="d-inline" style="margin-right: 1%;">Choose branch   </h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cbp-main" value="main" checked>
        <label class="form-check-label" for="cbp-main">main</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cbp-prod" value="production" checked>
        <label class="form-check-label" for="cbp-prod">production</label>
      </div>
    </div>
    <div class="choose-repo">    
      <h6 style="margin-right: 1%;">Choose repo</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>
              <input class="form-check-input selectAll" type="checkbox" value="" {{'checked' if repos|length > 0 }}>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if repos|length > 0 %}
            {% for repo in repos %}
              <tr>
                <td class="itemName">{{ repo.name|e }}</td>
                <td>
                  <input class="form-check-input selectItem" type="checkbox" value="" checked>
                </td>
              </tr>
            {% endfor %}
          {% else %}
              <tr>
                <td colspan="2" class="text-center text-secondary no-hover" disabled>None</td>
              </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary btn-add-protection">Add protection</button>
    {% if session.user_permission == 'superadmin' %}
      <button type="button" class="btn btn-danger btn-rm-protection">Remove protection</button>
    {% endif %}
  {% else %}
    <h5>You cannot view this!</h5>
  {% endif %}
{% endblock %}