{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Branch{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h4>Find repos missing `{{ branch }}`</h4>
  <form method="post" class="d-flex justify-content-between align-items-center" action="/scan_branch">
    <div class="input-group">
      <select class="form-select" id="scanbranch-select" name="scanbranch-select">
        <option hidden disabled selected value>-- choose branch --</option>
        <option value="main">main</option>
        <option value="production">production</option>
        <option value="staging">staging</option>
      </select>
      <button class="btn btn-primary" type="submit">Scan</button>
    </div>
  </form>
  <table class="table table-hover caption-top" data-branch="{{ branch }}">
    <col style="width:47%">
    <col style="width:47%">
    <col style="width:6%">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>
          <input class="form-check-input selectAll" type="checkbox" value="" {{'checked' if repos|length > 0 }}>
        </th>
      </tr>
    </thead>
    <tbody>
      {% if repos|length > 0 %}
        {% for repo in repos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ repo|e }}</td>
            <td>
              <input class="form-check-input selectItem" type="checkbox" value="" checked>
            </td>
          </tr>
        {% endfor %}
      {% else %}
          <tr>
            <td colspan="3" class="text-center text-secondary no-hover" disabled>None</td>
          </tr>
      {% endif %}
    </tbody>
  </table>
  <hr>
  {% if session.user_permission != 'member' %}
    {% if repos|length > 0 %}
      <div class="text-secondary mb-3"><em>Note: Branch `{{ branch }}` would be based on branch `main`</em></div>
      <button type="button" class="btn btn-primary btn-create-branch">Add branch</button>
    {% endif %}
  {% endif %}
  <!--__________________________________________________________________________________________-->
{% endblock %}