{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Repository{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="d-flex justify-content-between align-items-center" action="/clear-all-repo">
    <span><h4 class="d-inline">Current Repo</h4></span>
    {% if session.permission == 'superadmin' %}
      <button type="submit" class="btn btn-danger float-right" onclick="return confirm('Are you sure?');">Delete All</button>
    {% endif %}
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in repos%}
        <tr>
          <td>{{ repo.id|e }}</td>
          <td>{{ repo.name|e }}</td>
          <td>{{ repo.owner|e }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <!--__________________________________________________________________________________________-->
  {% if session.permission != 'member' %}
    <h4>Upload file json to create new repo</h4>
    <!-- Upload json file -->
    <div class="input-group mb-3">
      <input class="form-control add-repolist" type="file" id="repolist" name="repolist" accept=".json" required>
      <button class="btn btn-primary btn-upload-jsonlist">Upload</button>
    </div>

    <!-- Display list of new repo and create -->
    <form class="new-repo-list" method="post">
      <textarea name="json-list" id="json-list" class="form-control mb-3" rows="10" placeholder="Choose file json that contains list of new repo(s)" required></textarea>
      <div class="input-group mb-3">
        <span class="input-group-text">Init Readme</span>
        <div class="input-group-text">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="readme-switch" name="readme-switch" value="yes" checked>
            <label class="form-check-label" for="readme-switch">Yes</label>
          </div>
        </div>
      </div>
      <div id="create-repo-addition" class="d-block">
        <div class="input-group mb-3">
          <span class="input-group-text">Create branch `production`</span>
          <div class="input-group-text">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="prod-switch" name="prod-switch" value="yes" checked>
              <label class="form-check-label" for="prod-switch">Yes</label>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Apply branch protection rule</span>
          <div class="input-group-text">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="protect-switch" name="protect-switch" value="yes" checked>
              <label class="form-check-label" for="protect-switch">Yes</label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" name="btn-create-repo" class="btn btn-primary mb-3">Create Repo</button>
    </form> 
    <hr>
  {% endif %}
  <!--__________________________________________________________________________________________-->
{% endblock %}