{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
  {% if g.user %}
    <form method="post">
      <div class="input-group mb-3">
        <span class="input-group-text">Github Token</span>
        <input type="text" id="token" name="token" class="form-control" placeholder="{{ request.form['token'] or cred['token'] }}">
        <input class="btn btn-success" type="submit" value="Change" onclick="return confirm('Are you sure?');"/>
      </div>
    </form>
  {% else %}
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  
{% endblock %}